form{
  display: flex;
  flex-direction: column;
  }
.container{
  padding: 5%;
  }
.pic-cont{
  background-color: rgb(245,245,245);
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 1em;
  padding: 1.7%;
  border-bottom: 1px solid black;
  }
